{{setTitle()}}
<app-navbar></app-navbar>
<div class="container">
    <h2 class="my-3">Update a Book</h2>
    <form class="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nom">Title</label>
            <input type="text" [(ngModel)]="book.title" required name="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="nom">By </label>
            <input type="text" [(ngModel)]="book.by" required name="by" class="form-control">
        </div>
        <div class="form-group">
            <label for="nom">Genre</label>
            <input type="text" [(ngModel)]="book.genre" required name="genre" class="form-control">
        </div>
        <div class="form-group">
            <label for="nom">Age Level</label>
            <input type="text" [(ngModel)]="book.age_level" required name="age_level" class="form-control">
        </div>
        <div class="form-group">
            <label for="nom">Description</label>
            <textarea [(ngModel)]="book.description" name="description" cols="30" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="nom">Qte in stock</label>
            <input type="number" [(ngModel)]="book.no_stock" required name="no_stock" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
