<nav class="navbar navbar-expand-md navbar-light bg-light" *ngIf="isLogged()">
    <a class="navbar-brand" href="#">Library</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a *ngIf="isLogged() && isAdmin()" [routerLink]="['/add-book']" class="nav-link">Add a Book</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogged() && isAdmin()" [routerLink]="['/users']" class="nav-link">Users Management</a>
        </li>
      </ul>
      <div class="float-right">
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small font-weight-bold">{{name}}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#" [routerLink]="['/edit',id]">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                Update Profile
              </a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loging out ...</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Click on "Logout" below if you want to log out.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary nav-link" href="" *ngIf="isLogged()" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>